.menu__button-account {
  background-image: url(../../../images/account.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  padding: 0;
  border: none;
  outline: none;
  width: 30px;
  height: 30px;
}