.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content__mission {
  margin-bottom: 80px;
}

@media screen and (max-width: 1340px) {
  .content__mission {
    margin-bottom: 50px;
  }
}
