.footer {
  background-color: #2E2468;
  padding: 90px 360px 82px;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, max-content));
  grid-template-areas:
  "logo donation navigation"
  "copyright copyright navigation"
  "creators creators navigation";
  align-items: center;
  justify-content: center;
  column-gap: 85px;
}

.footer__logo {
  grid-area: logo;
  width: 415px;
  height: 76px;
}

.footer__button-donation {
  grid-area: donation;
  font-family: 'Proto Grotesk Web Light';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.2px;
  border-radius: 100px;
  width: 169px;
  height: 48px;
  color: #F3F2F2;
  box-sizing: border-box;
  border: 1px solid #F3F2F2;
  background-color: transparent;
}

.footer__creators {
  grid-area: creators;
  display: flex;
  flex-direction: column;
  font-family: PT Root UI;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
}

.footer__copyright {
  grid-area: copyright;
  color: #C8D1FF;
  margin: 124px 0 12px 0;
}

.footer__creators-items {
  display: flex;
}

.footer__creators-item {
  color: #F3F2F2;
  margin: 0;
}

.footer__creators-link {
  text-decoration: none;
  color: #F3F2F2;
  border-bottom: 0.3px solid #F3F2F2;
}

.footer__creators-item:first-child {
  margin-right: 30px;
}

.footer__creators-item:last-child {
  margin: 0;
}

.footer__columns {
  grid-area: navigation;
  display: flex;
}

.footer__column_content_info {
  margin-left: 46px;
}

.footer__column-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__column {
  min-width: 156px;
  margin-right: 44px;
}

.footer__column-item {
  margin-bottom: 20px;
}


.footer__column-item:last-child {
  margin-bottom: 0px;
}

.footer__column-link {
  font-family: 'Proto Grotesk Web Light';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #F3F2F2;
  text-decoration: none;
  transition: color 0.3s linear;
}

.footer__column-link:hover {
  color: #C8D1FF;
}

@media screen and (max-width: 1919px) {
  .footer {
    padding: 90px 135px 82px;
  }
}

@media screen and (max-width: 1439px) {
  .footer {
    padding: 40px 130px 30px;
  }

  .footer__container {
    grid-template-areas:
    "logo"
    "navigation"
    "donation"
    "creators";
    grid-template-columns: minmax(min-content, max-content);
    gap: 30px;
  }

  .footer__logo {
    width: 252px;
    height: 46px;
    margin: 0 auto 10px;
  }

  .footer__button-donation {
    width: 134px;
    height: 40px;
    font-size: 12px;
    line-height: 17px;
    margin: 0 auto;
  }

  .footer__column-items {
    display: flex;
  }

  .footer__columns {
    flex-direction: column;
    justify-content: space-between;
    min-height: 80px;
  }

  .footer__copyright {
    margin: 0 30px 0 0;
  }

  .footer__creators {
    flex-direction: row;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.2px;
    margin: 0 auto;
  }

  .footer__column_content_info {
    margin-left: 0;
  }
  .footer__column {
    margin-right: 0;
    margin: 0 auto;
  }

  .footer__column-item {
    margin-bottom: 0;
    margin-right: 15px;
  }

  .footer__column-item:last-child {
    margin-right: 0;
  }

  .footer__separator {
    width: 100%;
    border-top: 1px solid rgba(167, 166, 166, 1);
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    padding: 40px 15px 30px;
  }

  .footer__column-items {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer__column-item {
    padding-bottom: 15px;
    transition: color 0.3s linear;
  }

  .footer__column-item:last-child {
    padding-bottom: 15px;
  }

  .footer__creators {
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
  }

  .footer__creators-items {
    margin: 0 auto;
    flex-direction: column;
  }

  .footer__creators-item {
    margin-bottom: 5px;
  }

  .footer__creators-item:first-child {
    margin-right: 0;
  }

  .footer__copyright {
    margin: 0 auto;
    padding-bottom: 5px;
  }

  .footer__column_content_info {
    padding-bottom: 5px;
  }

  .footer__column_content_social {
    padding-top: 20px;
  }
}
