.interview-section {
  max-width: 1920px;
  width: 100%;
  padding-bottom: 30px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Proto Grotesk Web Light;
}

.interview-section__card_type_m {
  width: 571px;
  height: 675px;
  display: flex;
  flex-direction: column;
  background-color: #F8D162;
}

.interview-section__title {
  width: 471px;
  margin: 30px auto 5px;
  min-height: 30px;
  align-self: center;
  font-style: normal;
  font-weight: 300;
  font-size: 23px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.interview-section__person {
  width: 310px;
  min-height: 19px;
  margin: 0 auto;
  font-family: PT Root UI;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #464646;
}

.interview-section__link {
  width: 117px;
  height: 19px;
  margin: auto auto 30px;
  align-self: center;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.2px;
}

.interview-section__video-card {
  width: 1199px;
  height: 675px;
  overflow: hidden;
}

@media screen and (max-width: 1919px) {
  .interview-section__card_type_m {
    width: 370px;
    min-height: 451px;
  }
  .interview-section__title {
    width: 310px;
    min-height: 60px;
  }
  .interview-section__video-card {
    width: calc(100% - 370px);
    min-height: 451px;
  }
}

@media screen and (max-width: 1439px) {
  .interview-section {
    flex-direction: column-reverse;
  }
  .interview-section__card_type_m {
    width: 100%;
    min-height: 147px;
    height: 147px;
    overflow: scroll;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .interview-section__title {
    width: 740px;
    min-height: 23px;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 19px;
    line-height: 23px;
  }
  .interview-section__person {
    width: 740px;
    min-height: 17px;
    font-size: 12px;
    line-height: 17px;
  }
  .interview-section__link {
    margin-bottom: 15px;
  }
  .interview-section__video-card {
    width: 100%;
    min-height: 438px;
    height: 438px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

@media screen and (max-width: 1023px) {
  .interview-section__video-card {
    min-height: 165px;
    height: 165px;
  }
  .interview-section__title {
    width: 260px;
    min-height: 46px;
  }
  .interview-section__person {
    width: 260px;
  }
}