/* TODO из меню вынести лого сюда */
.logo_place_about {
  max-width: 357px;
  margin: 0;
  padding: 0 0 80px 0;
}

@media screen and (max-width: 1340px) {
  .logo_place_about {
    max-width: 252px;
    height: 46px;
    padding: 0 0 50px 0;
  }
}

@media screen and (max-width: 620px) {
  .logo_place_about {
    padding: 0 0 30px 0;
  }
}
