.main-page {
  width: 100%;
  padding: 85px 75px 0;
  margin: 0;
  background-color: #F3F2F2;
  font-family: Proto Grotesk Web Light;
  box-sizing: border-box;
}




/* для удобства верстки */

div {
  border: 1px solid red;
}

li {
  border: 1px solid green;
}