.mentors-choise-section {
  max-width: 1920px;
  width: 100%;
  padding-bottom: 30px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Proto Grotesk Web Light;
}

.mentors-choise-section__card_type_l {
  width: 1185px;
  min-height: 629px;
  display: flex;
  flex-direction: column;
  background-color: #F8D162;
}

.mentors-choise-section__tag {
  width: 130px;
  margin: 15px 0 15px;
  align-self: center;
  text-transform: uppercase
}

.mentors-choise-section__title {
  margin: 0;
  width: 1125px;
  align-self: center;
  font-style: normal;
  font-weight: 300;
  font-size: 23px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.mentors-choise-section__subtitle {
  width: 280px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #464646;
  flex: none;
  margin: 5px auto 0;
}

.mentors-choise-section__photo {
  margin: 70px auto 15px;
  border-radius: 15px;
  align-self: center;
  width: 1125px;
  height: 394px;
}

.mentors-choise-section__link {
  width: 121px;
  margin-bottom: 30px;
  align-self: center;
}

.mentors-choise-section__card_type_m {
  width: 585px;
  min-height: 629px;
  border-radius: 30px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

.mentors-choise-section__article-title {
  width: 209px;
  min-height: 19px;
  margin-top: 47px;
  margin-left: 30px;
  margin-bottom: 105px;
  font-family: PT Root UI;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #464646;
}

.mentors-choise-section__article-text {
  width: 540px;
  min-height: 389px;
  margin-bottom: 69px;
  overflow: scroll;
}

.mentors-choise-section__article-paragraph {
  margin: 0 15px 15px 30px;
  font-family: PT Root UI;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

@media screen and (max-width: 1919px) {
  .mentors-choise-section__card_type_l {
    width: calc(100% - 585px);
    min-height: 629px;
  }
  .mentors-choise-section__photo {
    width: calc(100% - 60px);
    height: 394px;
  }
}

@media screen and (max-width: 1439px) {
  .mentors-choise-section{
    flex-direction: column;
  }
  .mentors-choise-section__card_type_l {
    width: 100%;
    min-height: 537px;
  }
  .mentors-choise-section__tag {
    margin-bottom: 7px;
  }
  .mentors-choise-section__article-title {
    font-size: 19px;
    line-height: 23px;
  }
  .mentors-choise-section__photo {
    width: calc(100% - 30px);
    height: 346px;
    margin-top: 62px;
  }
  .mentors-choise-section__link {
    margin-bottom: 15px;
  }
  .mentors-choise-section__card_type_m {
    width: 100%;
    min-height: 188px;
    max-height: 188px;
  }
  .mentors-choise-section__article-title {
    font-size: 12px;
    line-height: 17px;
    margin: 47px 15px 105px 30px;
    margin-top: 30px;
    margin-left: 15px;
    margin-bottom: 5px;
  }
  .mentors-choise-section__article-text {
    width: calc(100% - 30px);
    min-height: 90px;
    max-height: 90px;
    margin-bottom: 50px;
  }
  .mentors-choise-section__article-paragraph {
    margin-right: 15px;
    margin-left: 15px;
    font-size: 15px;
    line-height: 21px;
  }
}