.menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1770px;
  height: 30px;
  padding-top: 40px;
  margin: 0 auto;
} 

.menu__logo {
  font-family: 'Proto Grotesk Web Light', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 28px;
  color: #224CFF;
  margin-top: -1px 0 3px;
}

.menu__logo-link {
  color: #224CFF;
  text-decoration: none;
}

.menu__logo-link:hover {
  color: #2E2468;
}

.menu__navigation-items {
  display: flex;
  padding: 0;
}

.menu__navigation-item {
  list-style: none;
  margin-right: 30px;
}

.menu__navigation-item:last-child {
  margin-right: 0;
}

.menu__navigation-link {
  font-family: 'Proto Grotesk Web Light', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.menu__navigation-link:hover {
  color: #224CFF;
}

.menu__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90px;
}

.menu__button-search {
  background-image: url(../images/search.svg);
  background-color: transparent;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 30px;
  padding: 0;
  border: none;
  outline: none;
  width: 30px;
  height: 30px;
}

.menu__separator {
  height: 20px;
  border-right: 0.7px solid rgba(167, 166, 166, 1);
}

.menu__button-account {
  background-image: url(../images/account.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  padding: 0;
  border: none;
  outline: none;
  width: 30px;
  height: 30px;
}

.menu__icon {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 1919px) {
  .menu {
    width: calc(100% - 2 * 135px);
  }
}

@media screen and (max-width: 1439px) {
  .menu {
    width: calc(100% - 2 * 117px);
    padding-top: 30px;
    height: 50px;
  }

  .menu__logo {
    font-family: Proto Grotesk Web Light;
    font-style: normal;
    font-weight: 300;
    font-size: 17.5px;
    line-height: 17px;  
    text-align: center;
    display: block;
    margin: 14px auto 19px;
  }

  .menu__navigation {
    display: none;
  }

  .menu__buttons {
    position: absolute;
    left: 10px;
  }

  .menu__separator {
    display: none;
  }
  
  .menu__button-account {
    display: none;
  }

  .menu__icon {
    bottom: 15px;
    right: 10px; 
  }
  
  .menu__icon1, .menu__icon2, .menu__icon3 {
    width: 30px;
    height: 0;
    border: 0.5px solid rgba(0, 0, 0, 1);
    margin: 5px;
    transition: 0.4s;
  }
  
  .change .menu__icon1 {
    border: 1px solid #224CFF;
    transform: rotate(-45deg) translate(-5px, 5px);
  }
  
  .change .menu__icon2 {
    opacity: 0;
  }
  
  .change .menu__icon3 {
    border: 1px solid #224CFF;
    transform: rotate(45deg) translate(-5px, -5px);
  }
}

@media screen and (max-width: 1023px) {
  .menu {
    width: 100%;
    padding-top: 0;
  }
}

