.mission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1770px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.mission__container {
  max-width: 1170px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0 60px 0;
}

.mission__text {
  font-family: 'Proto Grotesk Web Light';
  font-style: normal;
  font-weight: 300;
  font-size: 44px;
  line-height: 1.14;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 1440px) {
  .mission {
    width: 81.25vw;
  }

  .mission__container {
    max-width: 964px;
  }
}

@media screen and (max-width: 1024px) {
  .mission__text {
    font-size: 23px;
    line-height: 1.3;
  }

  .mission {
    max-width: 770px;
  }

  .mission__container {
    margin: 30px 0 30px 0;
  }
}
