.popup-calendar__about {
  font-family: PT Root UI;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #1A1A1A;
  margin: 0;
  padding-top: 30px;
}


@media screen and (max-width: 1023px) {
  .popup-calendar__about {
    font-size: 12px;
    line-height: 17px;
  }
}