.questions-section {
  max-width: 1920px;
  width: 100%;
  padding-bottom: 30px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Proto Grotesk Web Light;
}

.questions-section__card_facebook-widget {
  overflow: hidden;
  width: 420px;
  height: 618px;
}

.fb-page {
  border-radius: 30px;
  overflow: hidden;
}

.questions-section__card_questions {
  width: 1318px;
  min-height: 618px;
}

.questions-section__questions-list {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}

.questions-section__card_question {
  width: 100%;
  min-height: 189px;
  background-color: #FFFFFF;
}

.questions-section__title {
  margin-top: 50px;
  margin-left: 50px;
  width: 770px;
  height: 60px;
  font-style: normal;
  font-weight: 300;
  font-size: 23px;
  line-height: 30px;
  color: #000000;
}

.questions-section__tag {
  display: block;
  margin: 17px auto auto 50px;
  width: 65px;
  min-height: 17px;
  background-color: #F3F2F2;
}

.questions-section__card_facebook-widget {
  display: grid;
  grid-template-columns: 420px;
  grid-template-rows: 618px;
  overflow: hidden;
}

@media screen and (max-width: 1919px) {
  .questions-section__card_questions {
    width: calc(100% - 400px);
    overflow: hidden;
  }
  .questions-section__card_facebook-widget {
    grid-template-columns: 370px;
    grid-template-rows: 627px;
  }
  .questions-section__title {
    width: calc(100% - 100px);
  }
}

@media screen and (max-width: 1439px) {
  .questions-section__questions-list {
    height: 545px;
  }
  .questions-section__card_questions {
    min-height: 100%;
  }
  .questions-section__card_facebook-widget {
    grid-template-rows: 545px;
    height: 545px;
    width: 370px;
  }
  .questions-section__card_question {
    width: 100%;
    min-height: 161px;
    overflow: scroll;
  }
  .questions-section__title {
    width: 339px;
    min-height: 69px;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: auto;
    font-size: 19px;
    line-height: 23px;
  }
  .questions-section__tag {
    margin: 17px auto auto 17px;
  }
}